.time {
    font-size: 12px;
}

.exchange-image {
    max-width:100%;
    max-height:100%;
}

.icon {
    font-size: 23px;
    color: #ef4b4b;
    margin-right: 5px;
    margin-left: 5px;
    outline: none;
}
.exchange-tim {
    border-bottom: 1px solid lightgrey;
    padding: 5px 10px;
}
.content {
    margin-left: 20px;
    margin-top: 20px;
}
.tags {
    color: #16416c !important;
    font-size: 10px;

}
.border-color {
    border: 1px solid #16416c;
}
.usename-bold {
    font-weight: 500;
}

.love {
    color: #989898;
    float: left;
    margin-top: 10px;
    position: relative;
}
.love i {
    display: inline-block;
    float: left;
    margin-top: 1px;
}
.love i:before {
    font-size: 28px;
}
.love div {
    display: inline-block;
    margin-left: 60px;
    font-size: 14px;
    margin-top: 5px;
    margin-left: 5px;
}
.love.active {
    color: #F73F52;
}
.love i.animated {
    animation-name: love;
    -webkit-animation-name: love;
    -moz-animation-name: love;
    -o-animation-name: love;
    animation-fill-mode: backwards;
    -moz-animation-fill-mode: backwards;
    -o-animation-fill-mode: backwards;
    -webkit-animation-fill-mode: backwards;
    animation-duration: .5s;
    -moz-animation-duration: .5s;
    -webkit-animation-duration: .5s;
    -o-animation-duration: .5s;
    position: absolute;
    left: 0;
    top: 0;
}

@keyframes love {
    0% {
        top: 0px;
        transform: rotate(0);
        -moz-transform: rotate(0);
        -webkit-transform: rotate(0);
        -o-transform: rotate(0);
    }
    20% {
        top: -10px;
        transform: rotate(20deg);
        -moz-transform: rotate(20deg);
        -webkit-transform: rotate(20deg);
        -o-transform: rotate(20deg);
        opacity: .8;
    }
    40% {
        top: -20px;
        transform: rotate(-20deg);
        -moz-transform: rotate(-20deg);
        -webkit-transform: rotate(-20deg);
        -o-transform: rotate(-20deg);
        opacity: .6;
    }
    60% {
        top: -30px;
        transform: rotate(10deg);
        -moz-transform: rotate(10deg);
        -webkit-transform: rotate(10deg);
        -o-transform: rotate(10deg);
        opacity: .4;
    }
    80% {
        top: -40px;
        transform: rotate(-10deg);
        -moz-transform: rotate(-10deg);
        -webkit-transform: rotate(-10deg);
        -o-transform: rotate(-10deg);
        opacity: .2;
    }
    100% {
        top: -50px;
        transform: rotate(0);
        -moz-transform: rotate(0);
        -webkit-transform: rotate(0);
        -o-transform: rotate(0);
        opacity: 0;
    }
}
@-webkit-keyframes love {
    0% {
        top: 0px;
        transform: rotate(0);
        -moz-transform: rotate(0);
        -webkit-transform: rotate(0);
        -o-transform: rotate(0);
    }
    20% {
        top: -10px;
        transform: rotate(20deg);
        -moz-transform: rotate(20deg);
        -webkit-transform: rotate(20deg);
        -o-transform: rotate(20deg);
        opacity: .8;
    }
    40% {
        top: -20px;
        transform: rotate(-20deg);
        -moz-transform: rotate(-20deg);
        -webkit-transform: rotate(-20deg);
        -o-transform: rotate(-20deg);
        opacity: .6;
    }
    60% {
        top: -30px;
        transform: rotate(10deg);
        -moz-transform: rotate(10deg);
        -webkit-transform: rotate(10deg);
        -o-transform: rotate(10deg);
        opacity: .4;
    }
    80% {
        top: -40px;
        transform: rotate(-10deg);
        -moz-transform: rotate(-10deg);
        -webkit-transform: rotate(-10deg);
        -o-transform: rotate(-10deg);
        opacity: .2;
    }
    100% {
        top: -50px;
        transform: rotate(0);
        -moz-transform: rotate(0);
        -webkit-transform: rotate(0);
        -o-transform: rotate(0);
        opacity: 0;
    }
}

section.single footer .col:last-child .love {
    float: none;
    border: 2px solid #989898;
    border-radius: 30px;
    display: inline-block;
    padding: 3px 12px;
}
section.single footer .col:last-child .love i {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
}
section.single footer .col:last-child .love i.animated {
    top: 3px;
    left: 12px;
}
section.single footer .col:last-child .love.active {
    background-color: #F73F52;
    color: #fff;
    border-color: #F73F52;
}
